#password-reset {
    width: 100%;
    margin-bottom: 15px;

    span#reset-success {
        text-align: center;
        display: block;
        color: #20b5ac;
        font-weight: 700;
    }

    #login-wrapper {
        position: absolute;
        bottom: 0;
        background: #a9d2f1;
        width: 100%;
        left: 0;
        height: 30px;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        a {
            position: relative;
            color: white;
            font-family: lato;
            background: #3e8acc;
            padding: 7px 30px;
            top: -12px;
            border-radius: 20px;
            font-size: 0.8em;
            text-decoration: none;

            &:hover {
                background-color: #56a6ec;
            }
        }
    }
}
