<div class="clearfix">
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Date of Birth</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.dob}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Expiry</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.expiry}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">First Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.firstName}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Gender</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.gender}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Issuing Country</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.issuingCountry}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Last Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.lastName}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Number</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.number}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Originating Country</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.originatingCountry}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Personal Number</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.personalNumber}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Scan Reference</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.scanReference}}"
                  disabled>
      </div>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                  <span class="input-group-text">Type</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" value="{{inputResult.type}}"
                  disabled>
      </div>
</div>