.welcome{
    background: #fff;
}

.title{
    margin-right:10px;
    background: #2D2D2D;
    color:white;
    width:100%;
    padding-top:20px;
    padding-left:20px;
}
.userinfo{
    margin-right:10px;
    background: #FAFAFA;
    color:black;
    width:100%;
    height:100%;
    padding-top:20px;
    padding-left:20px;
    box-shadow: 5px 10px 15px #E8E8E8;
}
.instruct{
    padding:20px;
    //border-radius:10px;
    height:100%;
    box-shadow: 5px 10px 15px #E8E8E8;
}

.logo{
    width:80%;
    height:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}