<div class="container-fluid">
    <div class="btn-toolbar justify-content-end mb-3">
        <button type="button" class="btn btn-secondary" [routerLink]="['/credentials/list']">
            <bi name="arrow-left"></bi>
        </button>
    </div>
    <h1>{{ pageTitle }}</h1>
    <hr />
    <form class="mb-3" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="credential-name" class="control-label">Name</label>
                    <input type="text" id="credential-name" class="form-control" name="name"
                           #entityName="ngModel"
                           [(ngModel)]="entity.name"
                           maxlength="50"
                           required
                    />
                    <div *ngIf="entityName.dirty && entityName.invalid">
                        <small class="form-text text-danger" *ngIf="entityName.errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description" class="control-label">Description</label>
                    <input type="text" id="description" class="form-control" name="description"
                           #description="ngModel"
                           [(ngModel)]="entity.description"
                           maxlength="50"
                           required
                    />
                    <div *ngIf="description.dirty && description.invalid">
                        <small class="form-text text-danger" *ngIf="description.errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <ng-template [ngIf]="entity.id">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="code" class="control-label">Code</label>
                        <input id="code" name="code" [value]="entity.code" type="text" class="form-control"/>
                    </div>
                </div>
            </ng-template>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="icon" class="control-label">Status</label>
                    <select class="form-control" name="status" #status="ngModel" [(ngModel)]="entity.status">
                        <option value="ACTIVE" selected>ACTIVE</option>
                        <option value="DISABLED">DISABLED</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="icon" class="control-label">
                        Icon
                    </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <ng-template [ngIf]="entity.image">
                                <img [src]="imageFile" width="50px" height="50px" class="mr-3">
                            </ng-template>
                        </div>
                        <input type="file" id="icon" class="form-control" name="icon"
                               #icon="ngModel"
                               multiple="false"
                               [required]="!entity.id"
                               [(ngModel)]="entity.image"
                               (change)="handleFileInput($event)"
                               maxlength="50"
                               accept="image/*"
                        />
                    </div>
                    <div *ngIf="icon.dirty && icon.invalid">
                        <small class="form-text text-danger" *ngIf="icon.errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar justify-content-end mb-3">
            <button type="submit" class="btn btn-secondary" [disabled]="editForm.form.invalid || isSaving" >
                {{ entity.id ? 'UPDATE' : 'SAVE' }}
            </button>
        </div>
    </form>
   
</div>
