<div class="modal-header">
    <h4 class="modal-title">Submission Successful</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.close()">
        <img src="../../../../../content/images/close.png">
    </button>
</div>
<div class="modal-body">
    <p>Form has been submitted</p>
</div>
<div class="modal-footer">
    <div class="clearfix text-right">
        <button class="btn btn-default" (click)="activeModal.close()">OK</button>
    </div>
</div>
