<div id="password-reset">
    <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
        <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="resetAccount.email" maxlength=254 #emailInput="ngModel" email required>
            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger" *ngIf="emailInput.errors.required">
                    Email is required.
                </small>
                <small class="form-text text-danger" *ngIf="emailInput.errors.email">
                    Email is invalid.
                </small>
                <small class="form-text text-danger" *ngIf="emailInput.errors.maxlength">
                    Email cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-secondary btn-block">Request password reset</button>
    </form>
    <span *ngIf="success" id="reset-success">
        A reset link has been sent to your email.
    </span>
    <div id="login-wrapper">
        <a [routerLink]="['/account/login']">Sign in</a>
    </div>
</div>
